
CBit.xcworkspace/xcuserdata/catlina-ravi.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/catlina_shabbir.xcuserdatad/xcschemes/xcschememanagement.plist
CBit.xcodeproj/xcuserdata/catlina_shabbir.xcuserdatad/xcschemes/xcschememanagement.plist
