<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298397173139-7rlt18pa6p0o2av4k96i97q0m3g2eca9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298397173139-7rlt18pa6p0o2av4k96i97q0m3g2eca9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298397173139-72mussvlkrtomdqut10d02icfueftqhc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAQkcBqlQIRo6R3fQX5-_qnLvXCICrfBU</string>
	<key>GCM_SENDER_ID</key>
	<string>298397173139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tfb.cbit</string>
	<key>PROJECT_ID</key>
	<string>cbit-cdcda</string>
	<key>STORAGE_BUCKET</key>
	<string>cbit-cdcda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:298397173139:ios:ec3c36f6ea4e97e5</string>
	<key>DATABASE_URL</key>
	<string>https://cbit-cdcda.firebaseio.com</string>
</dict>
</plist>
